@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1480400234955');
  src: url('../font/iconfont.eot?t=1480400234955#iefix') format('embedded-opentype'), url('../font/iconfont.woff?t=1480400234955') format('woff'), url('../font/iconfont.ttf?t=1480400234955') format('truetype'), url('../font/iconfont.svg?t=1480400234955#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ttpodicon:before {
  content: "\e6a6";
}
.icon-liuyanicon:before {
  content: "\e620";
}
.icon-weixin:before {
  content: "\e63b";
}
.icon-dianhua:before {
  content: "\e60a";
}
.icon-fanhuidingbu:before {
  content: "\e606";
}
.icon-iconfonticonfonticonfont20:before {
  content: "\e638";
}
.icon-kefu:before {
  content: "\e639";
}
.icon-zhinan:before {
  content: "\e692";
}
.icon-shangcheng:before {
  content: "\e821";
}
::-moz-selection {
  background-color: #b3d4fc;
  /* 此属性为 选中设置 */
  text-shadow: none;
}
::selection {
  background-color: #b3d4fc;
  /* 此属性为 选中设置 */
  text-shadow: none;
}
.container {
  width: 1260px !important;
}
body {
  font-family: "微软雅黑";
}
.header {
  height: 30px;
  line-height: 30px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
}
.header .pull-right a {
  position: relative;
  margin-left: 50px;
  display: inline-block;
}
.header .pull-right a i {
  display: block;
  position: absolute;
  left: -30px;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background: url('../images/bo.jpg') no-repeat center;
}
.header .pull-right a i.twI {
  background: url('../images/wei.jpg') no-repeat center;
}
a:focus,
a:hover {
  color: #FF9800;
  text-decoration: underline;
}
a {
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav > li > a {
  padding: 10px 0;
  width: 100px;
  text-align: center;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
  border-bottom: 5px solid #99d128 !important;
}
.navbars a {
  color: #000;
}
.navbars .attr a {
  border-bottom: 5px solid #99d128!important;
}
.navbars a:focus,
.navbars a:hover {
  color: #000;
  text-decoration: underline;
}
.navbars .navbar-nav {
  float: right;
}
.navbars .navbar-nav > li > a {
  padding-top: 35px;
  padding-bottom: 30px;
  border-bottom: 5px solid #FFF;
}
.navbars h1 {
  margin: 0;
}
.navbars .logo {
  display: block;
  height: 90px;
  width: 249px;
  background: url('../images/logo.jpg') no-repeat center;
  background-size: 100%;
  overflow: hidden;
}
.bx-prev {
  background: url('../images/left.jpg') no-repeat;
  width: 62px;
  height: 68px;
  text-indent: -999999px;
  z-index: 999;
  position: absolute;
  float: left;
  left: -62px;
  top: 126px;
}
.bx-next {
  background: url('../images/right.jpg') no-repeat;
  width: 62px;
  height: 68px;
  text-indent: -999999px;
  z-index: 999;
  position: absolute;
  top: 126px;
  right: -62px;
}
.banner div {
  width: 100%;
  height: 399px;
}
.Ones {
  background: #f8f8f8;
}
.Ones .container {
  padding: 20px 0;
}
.Ones img {
  width: 100%;
  height: 320px;
}
.Ones li {
  width: 220px;
  float: left;
  margin-right: 5px;
}
.Ones li img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.Ones li:hover img {
  opacity: .8;
}
.Ones .bxslider {
  width: 1120px;
  margin: 0 auto;
  height: 320px;
  overflow: hidden;
  position: relative;
}
.Ones .bx-wrapper {
  margin: 0 auto;
  position: relative;
}
.header-bar p {
  width: 319px;
  margin: 0 auto;
  height: 16px;
  background: url('../images/kun.png');
}
.huhei {
  background: url('../images/banner2.jpg') no-repeat center;
  height: 400px;
}
.huhei .header-bar {
  color: #fff;
  margin-top: 100px;
}
.huhei .header-bar p {
  background: url('../images/default.png');
}
.huhei .wid {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}
.huhei .wid a:hover {
  text-decoration: none;
}
.huhei .wid .pIMg {
  height: 50px;
  width: 50px;
}
.huhei .wid .iconfont {
  font-size: 40px;
}
.marin .container .bxslider2 {
  width: 1230px;
}
.marin .container .bxslider2 li {
  margin-right: 10px;
}
.hsn {
  background-color: #f8f8f8;
}
.hsn .container {
  padding: 20px 0 40px;
}
.hsn .bxslider2 {
  width: 1180px;
  margin: 0 auto;
}
.hsn .bxslider2 li {
  width: 236px;
  float: left;
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.hsn .bxslider2 li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #65c1ea;
  box-shadow: 0 0 8px #999;
  z-index: 1;
}
.hsn .bxslider2 li:hover a {
  color: #fff;
}
.hsn .bxslider2 li:hover span.pull-right {
  color: #fff;
}
.hsn .bxslider2 li a {
  color: #222;
}
.hsn .bxslider2 li a p {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hsn .bxslider2 li a:hover {
  text-decoration: none;
}
.hsn .bxslider2 li a .his {
  float: left;
  display: block;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hsn .bxslider2 li a span.pull-right {
  color: #66c2eb;
}
.hsn .bxslider2 li a img {
  width: 100%;
  height: 170px;
}
.hsn .bxslider2 li a .captions {
  padding: 9px 9px 0;
}
.banneterr div {
  width: 100%;
  height: 447px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.banneterr div:hover {
  opacity: .8;
}
.defa .container {
  padding: 20px 0 40px;
}
.defa .container img {
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.defa .container img:hover {
  opacity: .8;
}
.defa .container a {
  color: #222;
}
.defa .container a:focus,
.defa .container a:hover {
  color: #FF9800;
  text-decoration: none;
}
.geng a.ipsb {
  display: block;
  width: 200px;
  margin: 0 auto;
  line-height: 50px;
  color: #bababa;
  text-align: center;
  font-size: 16px;
  border: 1px solid #e8e8e8;
}
.geng a.ipsb:focus,
.geng a.ipsb:hover {
  border-color: #FF9800;
  color: #FF9800;
  text-decoration: none;
}
.mod {
  background-color: #f8f8f8;
}
.mod .container {
  padding: 20px 0 40px;
}
.mod .mod-z {
  margin: 60px 0 40px;
  border-top: 1px solid #dddddd;
}
.mod .mod-z .list-unstyled {
  width: 798px;
  margin: 0 auto;
  border: 1px solid #ddd;
  position: relative;
  margin-top: -25px;
  background-color: #f8f8f8;
}
.mod .mod-z .list-unstyled li {
  float: left;
}
.mod .mod-z .list-unstyled li.active a {
  background-color: #41b5e6;
  color: #fff;
  border-left-color: #41b5e6;
  text-decoration: none;
}
.mod .mod-z .list-unstyled a {
  display: block;
  width: 199px;
  line-height: 50px;
  text-align: center;
  border-left: 1px solid #ddd;
  cursor: pointer;
  color: #222;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.mod .mod-z .list-unstyled a:hover {
  background-color: #41b5e6;
  color: #fff;
  border-left-color: #41b5e6;
  text-decoration: none;
}
.mod .mod-z .list-unstyled a:focus {
  text-decoration: none;
}
.mod .mod-table .media-default {
  opacity: 0;
  display: none;
  visibility: hidden;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.mod .mod-table .active {
  display: block;
  visibility: visible;
}
.mod .mod-table .in {
  opacity: 1;
}
.mod .higs {
  height: 1px;
  background: #dddddd;
  margin: 20px 0;
}
.mod .media-left img {
  width: 205px;
  height: 150px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.mod .media-left img:hover {
  opacity: .8;
}
.mod .media-body a {
  color: #000;
  text-decoration: none;
}
.mod .media-body a p {
  height: 70px;
  overflow: hidden;
}
.mod .media-body a:focus,
.mod .media-body a:hover {
  color: #FF9800;
  text-decoration: none;
}
.mod .media-body h3 {
  margin-top: 0;
  height: 26px;
  overflow: hidden;
}
.mod .media-body .media-span {
  color: #b9b9b9;
}
.mod .geng {
  margin-top: 40px;
}
.hsa {
  background-color: #FFF;
}
.hsa .bx-wrapper {
  position: relative;
}
.hsa .bx-prev {
  top: 95px;
  left: -40px;
  height: 53px;
  width: 25px;
  background: url('../images/leftOne.jpg');
}
.hsa .bx-next {
  right: -40px;
  top: 95px;
  height: 53px;
  width: 25px;
  background: url('../images/rightOne.jpg');
}
.hsa .geng {
  margin-top: 40px;
}
.bxslider3 {
  height: 238px;
  overflow: hidden;
}
.hsa .bxslider3 li:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: #65c1ea;
  box-shadow: 0 0 8px #999;
  z-index: 1;
}
.footer {
  width: 100%;
  height: 307px;
  background: url('../images/fonterBar.jpg') repeat-x left;
}
.footer .rows {
  margin-top: 90px;
  color: #fff;
}
.footer .rows h4 {
  margin-bottom: 15px;
  margin-top: 0;
}
.footer .rows a {
  color: #9a9a9a;
}
.footer .rows a:focus,
.footer .rows a:hover {
  color: #FF9800;
  text-decoration: underline;
}
.footer .rows .foimg p {
  line-height: 34px;
  text-indent: 30px;
}
.footer .rows .foimg .icon-x {
  background: url('../images/icony.jpg') no-repeat left top;
}
.footer .rows .foimg .icon-y {
  background: url('../images/iconx.jpg') no-repeat left top;
}
.footer .rows .foimg .icon-a {
  background: url('../images/icona.jpg') no-repeat left top;
}
.banq {
  height: 50px;
  background: #222;
}
.banq h4 {
  margin: 0;
  color: #fff;
  line-height: 50px;
}
.comber {
  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 60px;
  margin-left: 630px;
  z-index: 999;
}
.comber .combercenter {
  position: relative;
}
.comber .combercenter a {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.comber .combercenter .iconfont {
  font-size: 30px;
}
.comber .combercenter a:focus,
.comber .combercenter a:hover {
  color: #fff;
  text-decoration: none;
}
.comber .kefu {
  background-color: #65c1ea;
  color: #fff;
}
.comber .kefu .ypy-mbar-tab-tip {
  background-color: #65c1ea;
  width: 80px;
}
.comber .weixin {
  background-color: #76c244;
  color: #fff;
}
.comber .weixin .ypy-mbar-tab-tip {
  background-color: #76c244;
}
.comber .dianhua {
  background-color: #fe7f16;
  color: #fff;
}
.comber .dianhua .ypy-mbar-tab-tip {
  background-color: #fe7f16;
  width: 130px;
}
.comber .fanhui {
  background-color: #646464;
  color: #fff;
}
.comber .fanhui .ypy-mbar-tab-tip {
  background-color: #646464;
}
.comber .ypy-mbar-tab-tip {
  display: none;
  position: absolute;
  right: 100px;
  top: 0px;
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  background-color: #494949;
  box-sizing: content-box;
}
/* 公司概括 */
.gsgg {
  margin: 10px 0;
}
.gsgg .gsgg-top,
.gsgg .gsgg-bot {
  background: #f3f3f3;
}
.gsgg .list-group li {
  padding: 0;
  text-align: center;
}
.gsgg .list-group li a {
  display: block;
  padding: 10px 15px;
  color: #222;
}
.gsgg .list-group li .act {
  olor: #3f7fb5;
  background: #f9f9f9;
}
.gsgg .list-group li a:focus,
.gsgg .list-group li a:hover {
  color: #3f7fb5;
  background: #f9f9f9;
  text-decoration: none;
}
.gsgg .list-group li .hst {
  background-color: #3f7fb5;
  color: #FFF;
  margin: 0;
  padding: 10px 15px;
}
.gsgg .gsgg-pad {
  padding: 0 5px 5px;
}
.gsgg .bt-xs {
  padding: 0 80px;
}
.gsgg .bt-xs p {
  text-indent: 24px;
  line-height: 34px;
}
.xw .media {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.xw .media:hover {
  border-bottom-color: #ac0f03;
}
.xw .media:hover .media-left img {
  border-color: #ac0f03;
}
.xw .media .media-left img {
  width: 350px;
  padding: 10px;
  border: 1px solid #eee;
  height: 170px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.xw .media .media-left img:hover {
  opacity: .8;
}
.xw .media .media-body {
  padding: 10px 0;
}
.xw .media .media-body a {
  color: #000;
  text-decoration: none;
}
.xw .media .media-body p {
  height: 40px;
  overflow: hidden;
  padding-right: 80px;
}
.xw .media .media-body p a {
  display: inline-block;
}
.xw .media .media-body a:focus,
.xw .media .media-body a:hover {
  color: #ac0f03;
  text-decoration: underline;
}
.xw .media .media-body h4 {
  margin-top: 0;
  height: 19px;
  overflow: hidden;
}
.xw .media .media-body .media-span {
  color: #b9b9b9;
}
.xw .media .media-body .buys {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #eee;
}
.xw .media .media-body .buys:hover {
  background: #ac0f03;
  color: #fff;
  text-decoration: none;
}
.page .pagination a {
  color: #222;
}
.page .pagination > .active a {
  background: #ac0f03;
  color: #fff;
  border-color: #ac0f03;
}
.hyxw {
  background-color: #500000;
}
.breadcrumb {
  margin: 0;
  background: transparent;
}
.breadcrumb > .active {
  color: #9d9d9d;
}
.de {
  padding: 10px 0;
}
.de h3 {
  margin: 0 0 20px 0;
}
.de .lb {
  position: relative;
}
.de .lb ul {
  width: 955px;
  margin: 0 auto;
  position: relative;
  height: 175px;
  overflow: hidden;
}
.de .lb ul li {
  float: left;
  width: 175px;
  margin-right: 20px;
  height: 175px;
}
.de .lb ul li img {
  width: 100%;
  border: 3px solid #eee;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.de .lb ul li img:hover {
  opacity: .8;
  border-color: #006498;
}
.de .bx-prev {
  left: -13px;
  background: url('../images/gsgg/lefs.jpg') no-repeat center;
  width: 60px;
  height: 60px;
  top: 57px;
}
.de .bx-next {
  right: -13px;
  background: url('../images/gsgg/lef.jpg') no-repeat center;
  width: 60px;
  height: 60px;
  top: 57px;
}
.de .rs {
  position: absolute;
  display: inline-block;
  padding: 5px 30px;
  font-size: 12px;
  border-radius: 0 0 5px 5px;
  background-color: #006498;
  color: #fff;
  margin-top: -20px;
}
.de .lso li {
  margin-left: 20px;
  float: left;
  width: 190px;
  height: 280px;
}
.de .lso li img {
  width: 100%;
  border: 3px solid #eee;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.de .lso li img:hover {
  opacity: .8;
  border-color: #006498;
}
.de .ate a {
  color: #000;
}
.de .ate a:focus,
.de .ate a:hover {
  color: #FF9800;
  text-decoration: underline;
}
.emila {
  height: 440px;
  background: url("../images/gsgg/sa.jpg") no-repeat center;
}
.emila .container {
  padding: 50px 195px;
}
.emfas {
  height: 788px;
  background: url('../images/gsgg/lxwm.jpg') no-repeat center;
  width: 100%;
}
.exhibit a img:hover {
  opacity: .8;
}
.exhibit .exhibit-t .t-ms {
  background-color: #eee;
  line-height: 50px;
  text-indent: 10px;
  font-size: 16px;
}
.exhibit .exhibit-t .t-ms span {
  padding: 5px 10px;
  background-color: #222;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}
.exhibit .mts .mts-img {
  height: 233px;
  overflow: hidden;
}
.exhibit .mts .mts-div {
  border-radius: 5px;
  border: 2px solid #eee;
  margin-top: 20px;
  overflow: hidden;
}
.exhibit .mts .mts-div .exhibit-b {
  text-align: center;
  padding: 10px;
  background-color: #eee;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.exhibit .mts .mts-div .exhibit-b a {
  color: #222;
}
.exhibit .mts .mts-div .exhibit-b a:focus,
.exhibit .mts .mts-div .exhibit-b a:hover {
  color: #FF9800;
  text-decoration: underline;
}

/*# sourceMappingURL=./map/main.css.map */
